@import "mixin.box-shadow";
@import "mixin.transition";
@import "mixin.retina-background-image";
@import "mixin.background-size";
@import "font-awesome-sprockets";
@import "font-awesome";
@import "sticky_buttons";

ul.pagination {
  margin: 0;
}

#pagination_info a {
  color: black;
}

/* Animate chevron rotate for accordions */
.fa {
	-webkit-transition: all 0.3s;
					transition: all 0.3s;
}


/* Ransack table sort links */
th a, th a:hover {
  color: black;
}

/* Content below fixed navbar */
.main {
	padding-top: 70px;
  &.login {
    padding-top: 0px;
  }
}

h2.title {
  margin-top: 0;
}

/* Clickable panel heading for accordions */
.panel-heading.clickable {
    cursor: pointer;
}

.key-value-table tbody tr td {
  text-align: right;
}
