#form-buttons-placeholder {
  width: 100%;
  height: 60px;
}
#form-buttons {
  padding: 10px 0;
  min-height: 50px;
  background-color: rgba(255, 255, 255, 0.9);
  #title-wrapper {
    overflow: hidden;
    h4 {
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
      cursor: default;
      color: white;
      margin: 0;
      padding: 0;
      line-height: 2;
      @include transition(color, 0.2s, linear);
    }
  }
}
#form-buttons.sticky {
  position: fixed;
  padding: 10px 0;
  left: 0;
  width: inherit;
  top: 50px;
  z-index: 1010; /* lower value than navbar-fixed (1030) and higher than form drop downs (1000) */
  @include box-shadow(0, 1px, 6px, rgba(0, 0, 0, 0.3));
  @include transition(color, 0.2s, linear);
  .button-group {
    margin: 0 30px;
  }
  #title-wrapper {
    h4 {
      color: black;
    }
  }
}
