- if user_signed_in?
  - title t(:runtime_information)

  .row
    - version_file = "#{Rails.root}/log/versions.log"
    - version_file = "#{Rails.root}/VERSION" unless File.exist?(version_file)
    - if File.exist?(version_file)
      .col-xs-12
        .panel.panel-default
          .panel-heading Version Info
          .panel-body
            - File.readlines(version_file).each do |line|
              = line
              %br

    .col-xs-12
      %table.table.table-striped.table-vcenter.table-nowrap
        %thead
          %tr
            %th= t('info.name')
            %th= t('info.value')
        %tbody
          %tr
            %td= t('info.application_name')
            %td= "#{Settings.application_name || '-'} (#{Settings.application_short_name || '-'})"
          %tr
            %td= t('info.ruby_version')
            %td= "#{RUBY_VERSION}p#{RUBY_PATCHLEVEL} (#{RUBY_PLATFORM})"
          %tr
            %td= t('info.rubygems_version')
            %td= Gem::RubyGemsVersion
          - if ENV['GIT_REVISION']
            %tr
              %td= t('info.git_revision')
              %td= ENV['GIT_REVISION']
          - if ENV['GIT_BRANCH']
            %tr
              %td= t('info.git_branch')
              %td= ENV['GIT_BRANCH']
          - if ENV['VERSION']
            %tr
              %td= t('info.version')
              %td= ENV['VERSION']
          %tr
            %td= t('info.rails_version')
            %td= Rails::VERSION::STRING
          %tr
            %td= t('info.application_root')
            %td= File.expand_path(Rails.root.to_s)

          %tr
            %td= t('info.application_server_name')
            %td= hostname

          %tr
            %td= t('info.rails_env')
            %td= Rails.env

          %tr
            - used_engines.each do | name,version |
              %tr
                %td= name
                %td= version

          %tr
            %td= t('info.database')
            %td.truncate.truncate-100= "#{ActiveRecord::Base.configurations[Rails.env]['database']} (#{ActiveRecord::Base.configurations[Rails.env]['adapter']})"
          %tr
            %td= t('info.database_schema_version')
            %td= ActiveRecord::Migrator.current_version rescue nil
          %tr
            %td= t('info.nls_lang')
            %td= nls_lang || '-'
          - if Settings.bpv_wsdl
            %tr
              %td= t('info.authentication_service')
              %td= Settings.bpv_wsdl
          - if Settings.ldap_host
            %tr
              %td= t('info.ldap_host')
              %td= Settings.ldap_host
          %tr
            %td= t('info.logged_in_from')
            %td.truncate.truncate-100= request.ip
          %tr
            %td= t('info.bootstrap_size')
            %td
              %span.visible-xs XS
              %span.visible-sm SM
              %span.visible-md MD
              %span.visible-lg LG
          %tr
            %td= t('info.reset_all_views')
            %td= link_to t('info.reset_all_views_now'), reset_all_views_path
          %tr
            %td= t('info.send_test_email_to_current_user')
            %td
              - email = controller.current_user.email
              - if email.present?
                = link_to t('info.send_to_email_address', email_address: email), test_email_path
              - else
                = t('info.user_has_no_email_address')
