.btn-group
  = render 'shared/button_submit'
  = button_tag type: :submit, name: 'commit', value: 'save_no_close', class: 'btn btn-default action-button' do
    %i.fa.fa-save
    %span.hidden-xs= t(:save)
  = link_to controller.back_url, class: 'btn btn-danger action-button' do
    %i.fa.fa-remove
    %span.hidden-xs
      = t(:cancel)
  - if object.id.present?
    = link_to({action: 'edit', id: object.id}, class: 'btn btn-warning action-button') do
      %i.fa.fa-repeat
      %span.hidden-xs
        = t(:reset)
