= link_to index_path, :data => { :format => :csv},  :class => 'btn btn-warning action-button', :title => t(:csv_export) do
  %i.fa.fa-file
  %span.hidden-xs
    = t(:csv_export)
  %span.hidden-sm.hidden-md.hidden-lg CSV
