#pagination_info
  - per_page_options = [10, 20, 50]
  - per_page_links = []
  - per_page_options.each do |per_page|
    - if per_page == @per_page
      - per_page_links << "<strong>#{per_page}</strong>"
    -else
      - per_page_links << link_to(per_page.to_s, url_for({page: params[:page], per_page: params[:per_page]}.merge({per_page: per_page})))
  - link_html = per_page_links.join('&nbsp;|&nbsp;')
  = "#{t('pagination.show')}&nbsp;#{link_html}&nbsp;#{t('pagination.of')}&nbsp;#{instances.total_count}".html_safe
