- hide_reset = true if hide_reset.nil?

.btn-group
  = link_to controller.back_url, class: 'btn btn-default action-button' do
    %i.fa.fa-chevron-left
    %span.hidden-xs
      = t(:back)
  - unless hide_reset
    - if object.id.present?
      = link_to({action: 'edit', id: object.id}, class: 'btn btn-default action-button') do
        %i.fa.fa-repeat
        %span.hidden-xs
          = t(:reset)
  = render 'shared/button_submit'
