-# local: instances (ActiveRecord::Relation)
- object_class = instances.klass
- hide_journal ||= !(object_class.respond_to?('has_audits?') && object_class.has_audits?)
- hide_new ||= false
- hide_export ||= false
- hide_update = true if hide_update.nil?

.btn-group
  - unless hide_journal
    = render 'shared/button_audits', instances: instances
  - unless hide_new
    - new_instance_path = url_for(controller: instances.model_name.route_key, action: 'new')
    = link_to new_instance_path, { new: true , id: 'new', class: "btn btn-primary action-button" } do
      %i.fa.fa-plus
      %span.hidden-xs
        = t(:new)
  - unless hide_export
    - instances_csv_path = url_for(controller: instances.model_name.route_key, action: 'index', format: :csv)
    = render 'shared/button_csv_export', index_path: instances_csv_path
  - unless hide_update
    = link_to({:action => :index}, :class => "btn btn-default action-button") do
      %i.fa.fa-refresh
      = t(:update)
