- show_label = show_label || false
- btn_size = show_label ? '' : 'btn-xs'

= link_to object, :data => { :confirm => t(:sure)}, :method => :delete, :class => "btn btn-warning #{btn_size} action-button" do
  - if show_label
    .hidden-xs
      = "#{t(:restore)}?"
      %i.fa.fa-repeat
    .visible-xs
      %i.fa.fa-repeat
  - else
    %i.fa.fa-repeat
