- hide_delete ||= false
- hide_audits ||= false
- hide_edit ||= false
.btn-group
  = render 'shared/button_index', object: object
  - unless hide_audits
    = link_to(perfect_history.audits_path(object_id: object.id, object_class: object.class), class: 'btn btn-info action-button') do
      %i.fa.fa-clock-o
      %span.hidden-xs= t(:history)
  = render 'shared/button_set_item', object: object, hide_delete: hide_delete, hide_edit: hide_edit
