- hide_delete ||= false
- hide_edit ||= false
.btn-group
  - unless hide_edit
    = link_to({:action => 'edit', :id => object.id}, {:class => "btn btn-default action-button"}) do
      %i.fa.fa-pencil
      %span.hidden-xs
        = t(:edit)
  - unless hide_delete
    = link_to object, {:data => { :confirm => t(:sure)}, :method => :delete, :class => "btn btn-danger action-button"} do
      %i.fa.fa-trash
      %span.hidden-xs
        = t(:delete)
