-# local: instances (ActiveRecord::Relation)
= link_to(perfect_history.audits_path(object_class: instances.klass.name), { class: 'btn btn-info action-button'}) do
  %i.fa.fa-clock-o
  %span.hidden-xs= t(:history)
