.btn-group.btn-group-justified
  .btn-group
    = button_tag :type => :submit, :rel => 'tooltip', :class => "btn btn-primary", :title => t(:search), :data => { :toggle => 'tooltip', :placement => 'bottom' } do
      %i.fa.fa-search
  .btn-group
    = link_to({action: :reset_session_search_params}, :rel => 'tooltip', :class => "btn btn-default", :title => t(:reset), :data => { :toggle => 'tooltip', :placement => 'bottom'}) do
      %i.fa.fa-remove
