- if object.id
  .row
    .col-xs-12
      %p.help-block
        - if object.respond_to? :updated_at
          = t(:last_changed)
          - if object.updated_at.present?
            = " #{t(:on_date)}"
            = l object.updated_at
        - if object.respond_to? :updated_by
          = " #{t(:updated_by)}"
          - editing_user = object.updated_by || ((object.audits.any?) ? object.audits.last.user : '-')
          = editing_user.blank? ? '-' : editing_user.to_s
