-# object: ActiveRecord-Objekt mit Papertrail
- if object.persisted?
  .panel.panel-default
    .panel-heading
      %h3.panel-title Historie
    .panel-body
      .row
        .col-md-6
          %dl
            %dt= object.class.human_attribute_name :created_at
            %dd= l object.created_at

            %dt= object.class.human_attribute_name :updated_at
            %dd
              = l object.updated_at
              - if object.try(:originator) && (last_edited_by = User.find(object.originator))
                von
                = link_to last_edited_by.name, last_edited_by

        .col-md-6
          %dl
            - if object.versions.length > 1
              %dt= object.class.human_attribute_name :changes
              %dd
                - object.diff(object.previous_version).each do |change|
                  = object.class.human_attribute_name change[0]
                  geändert von
                  %em= change[1][1]
                  nach
                  %em= change[1][0]
                  %br

              %dt= object.class.human_attribute_name :versions
              %dd
                = object.versions.length.to_s + ";"
                - version_ids = ""
                - object.versions.each do |version|
                  - version_ids += " #" + version.id.to_s
                =version_ids
            - else
              %dt= object.class.human_attribute_name :changes
              %dd
                %em Keine weiteren Versionen dieses Datensatzes vorhanden.
