.row.margin-bottom-md
  .col-xs-12.text-center
    = paginate objects, theme: 'bootstrap3', window: 1
.row
  .col-xs-12.text-center
    #pagination_info
      - per_page_options = [10, 20, 50]
      - per_page_links = []
      - per_page_options.each do |per_page|
        - if per_page == @per_page
          - per_page_links << "<strong>#{per_page}</strong>"
        - else
          - per_page_links << link_to(per_page.to_s, url_for(per_page: per_page))
      - link_html = per_page_links.join('&nbsp;|&nbsp;')
      = "Zeige&nbsp;#{link_html}&nbsp;von&nbsp;#{objects.total_count}&nbsp;#{objects.model_name.human(count: objects.total_count)}".html_safe
