.row.margin-bottom-sm
  .col-xs-12
    = form_tag index_path, "accept-charset" => "UTF-8", :method => "get", :id => "search_form" do
      = hidden_field_tag :per_page, session[:per_page]
      - if defined? filter_name and filter_name and !filter_name.empty?
        - search = ('search_'+ filter_name.to_s).intern
      - else
        - search = ('search_'+ filter_label.to_s).intern
      .input-group
        = text_field_tag search, session[search], :class => 'form-control search_field' , :placeholder => t(filter_label)
        .input-group-btn
          = button_tag  :type => :submit, :rel => 'tooltip', :class => "btn btn-primary", :id=>"ok", :title => t(:search), :data => { :toggle => 'tooltip', :placement => 'bottom' } do
            %i.fa.fa-search
          = link_to url_for({ :action => :index, :reset => true }), :rel => 'tooltip', :class => "btn btn-default", :title => t(:reset), :data => { :toggle => 'tooltip', :placement => 'bottom'}  do
            %i.fa.fa-remove
