.row
  .col-sm-12.col-md-6.col-md-push-6.margin-bottom-sm.text-center-sm.text-right-not-sm.text-center-xs.text-right-not-xs
    .visible-sm.visible-xs
      = paginate instances, theme: 'twitter-bootstrap-3', window: 2
    .hidden-xs.hidden-sm
      = paginate instances, theme: 'twitter-bootstrap-3', window: 3
  .col-sm-12.col-md-6.col-md-pull-6.margin-bottom-sm.text-center-sm.text-left-not-sm.text-center-xs.text-left-not-xs
    = render partial: 'shared/button_set_index', locals: local_assigns
    = yield
= render partial: 'shared/row_button_set_pagination', locals: local_assigns
