- title ||= nil
-# Blöde Schachtelung für Responsiveness
-# des position:fixed-Elements erforderlich :(
.row
  #form-buttons-placeholder
    #form-buttons
      .row
        .col-xs-12
          .container
            .row
              .col-md-8.col-sm-10.col-xs-12
                = yield if block_given?
              - if title
                .col-md-4.col-sm-2.hidden-xs.text-right
                  #title-wrapper
                    %h4= title
