- hide_spinner ||= false
- panel_title ||= ''
- unless hide_spinner
  .panel-heading
    %h4.panel-title
      %i.fa.fa-refresh.fa-spin
      = "#{panel_title}:" if panel_title.present?
      = t(:data_is_loading)
