- hide_delete ||= false
- hide_restore = true if hide_restore.nil?
- hide_show ||= false
- hide_edit ||= false
- local_controller = object.class.name.pluralize.underscore.intern
- unless hide_show
  = link_to({controller: local_controller, action: 'show', id: object.id}, class: 'btn btn-info btn-xs') do
    %i.fa.fa-eye
- unless hide_edit
  = link_to({controller: local_controller, action: 'edit', id: object.id}, class: 'btn btn-primary btn-xs') do
    %span.fa.fa-pencil
- unless hide_delete
  = render 'shared/table_button_destroy', object: object
- unless hide_restore
  = render 'shared/button_restore', object: object
