- if object.errors.any?
  .row
    .col-xs-12
      %h4.error
        = object.errors.size
        = t(:errors_occured)
      %ul
        - object.errors.full_messages.each do |message|
          %li
            = message
