Test-E-Mail
===========

Aktuelle E-Mail-Konfiguration in der APP_CONFIG
-----------------------------------------------

Standardempfänger: <%= Settings.default_mail_address %>
Standardabsender: <%= Settings.mail_sender %>
SMTP-Server: <%= Settings.smtp_server %>
SMTP-Port: <%= Settings.smtp_port %>
