!!!
%html{lang: controller.params[:locale] || I18n.default_locale }
  %head
    - # IE9/IE11 compatibility
    %meta{:content => "IE=EDGE", "http-equiv" => "X-UA-Compatible"}
    %meta{:charset => "utf-8"}
    %meta{content: 'width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no', name: 'viewport'}

    %title= "#{Settings.application_short_name} #{@title}"
    = stylesheet_link_tag 'application', media: 'all'
    = stylesheet_link_tag(Settings.theme, media: 'all') if Settings.theme
    = stylesheet_link_tag params[:controller] if (Rails.application.assets || ::Sprockets::Railtie.build_environment(Rails.application)).find_asset("#{params[:controller]}.css")
    = javascript_include_tag 'application'
    = javascript_include_tag params[:controller] if (Rails.application.assets || ::Sprockets::Railtie.build_environment(Rails.application)).find_asset("#{params[:controller]}.js")
    = csrf_meta_tags
    - signed_in = user_signed_in? rescue false
    = action_cable_meta_tag if signed_in && defined? action_cable_meta_tag

    -# Generate all icons online: http://www.favicon-generator.org
    - favicon_path = "favicons"
    - favicon_path << "-#{Settings.theme}" if Settings.theme
    %link{href: image_path("#{favicon_path}/apple-icon-57x57.png"), rel: "apple-touch-icon", sizes: "57x57"}
    %link{href: image_path("#{favicon_path}/apple-icon-60x60.png"), rel: "apple-touch-icon", sizes: "60x60"}
    %link{href: image_path("#{favicon_path}/apple-icon-72x72.png"), rel: "apple-touch-icon", sizes: "72x72"}
    %link{href: image_path("#{favicon_path}/apple-icon-76x76.png"), rel: "apple-touch-icon", sizes: "76x76"}
    %link{href: image_path("#{favicon_path}/apple-icon-114x114.png"), rel: "apple-touch-icon", sizes: "114x114"}
    %link{href: image_path("#{favicon_path}/apple-icon-120x120.png"), rel: "apple-touch-icon", sizes: "120x120"}
    %link{href: image_path("#{favicon_path}/apple-icon-144x144.png"), rel: "apple-touch-icon", sizes: "144x144"}
    %link{href: image_path("#{favicon_path}/apple-icon-152x152.png"), rel: "apple-touch-icon", sizes: "152x152"}
    %link{href: image_path("#{favicon_path}/apple-icon-180x180.png"), rel: "apple-touch-icon", sizes: "180x180"}
    %link{href: image_path("#{favicon_path}/android-icon-192x192.png"), rel: "icon", sizes: "192x192", type: "image/png"}
    %link{href: image_path("#{favicon_path}/favicon-32x32.png"), rel: "icon", sizes: "32x32", type: "image/png"}
    %link{href: image_path("#{favicon_path}/favicon-96x96.png"), rel: "icon", sizes: "96x96", type: "image/png"}
    %link{href: image_path("#{favicon_path}/favicon-16x16.png"), rel: "icon", sizes: "16x16", type: "image/png"}
    %link{href: image_path("#{favicon_path}/manifest.json"), re: "manifest"}
    %meta{content: "#ffffff", name: "msapplication-TileColor"}
    %meta{content: image_path("#{favicon_path}/ms-icon-144x144.png"), name: "msapplication-TileImage"}
    %meta{content: "#ffffff", name: "theme-color"}
  %body
    - navfile = File.join(Rails.root + 'app' + 'views' + 'shared' + '_navigation.*')
    - unless Dir.glob(navfile).empty?
      %header
        .navbar.navbar-default.navbar-fixed-top{ role: "navigation" }
          - if Rails.env.development?
            %p.navbar-text.pull-right
              %small.visible-xs [XS]&nbsp;
              %small.visible-sm [SM]
              %small.visible-md [MD]
              %small.visible-lg [LG]
          .container
            .navbar-header
              %button.navbar-toggle{"data-target" => ".navbar-collapse", "data-toggle" => "collapse", :type => "button"}
                %span.sr-only Navigation einblenden
                %span.icon-bar
                %span.icon-bar
                %span.icon-bar
              %a.navbar-brand{href:  "/"}
                = Settings.application_short_name
            .navbar-collapse.collapse
              = render 'shared/navigation'

    .container
      .row
        .col-xs-12
          = bootswatch_flash
      - unless controller_name == 'sessions'
        - if @page_header
          .row.margin-bottom-sm
            .col-xs-12
              %h2.title= @page_header
        - else
          - if @title.present?
            .row.margin-bottom-sm
              .col-xs-12
                %h2.title= @title
      .row
        .col-xs-12
          = yield
    - if Settings.footer && Settings.footer.visible
      #footer
        .col-xs-12.col-sm-8.col-sm-push-2
          %p.text-center= t(:footer_text_html, text: Settings.footer.content.html_safe, year: Time.now.year)
        .col-xs-6.col-sm-2.col-sm-pull-8
          - if signed_in
            %p
              - disabled_controllers = Settings.disabled_controllers || []
              - unless disabled_controllers.include? 'info'
                = link_to ui_base.info_path do
                  %i.fa.fa-info-circle
        - unless Settings.disable_language_switch
          .col-xs-6.col-sm-2
            %p.text-right
              - unless I18n.locale == :en
                = link_to 'English', { locale: 'en' }
              - unless I18n.locale == :de
                = link_to 'Deutsch', {locale: 'de' }


    - if content_for? :additional_js
      = yield :additional_js
